<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          rel="stylesheet">
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <title>This is the dev tool homepage will be redirect</title>
</head>
<body>


<br>
<br>

<div class="container">
    <h1 class="nav-link">This is the dev tool homepage will be redirect</h1>
    <a class="nav-link" href="/hello">Click here</a>
    <a class="nav-link" href="/about">About Eversource</a>
    <a class="nav-link" href="/homepage">Home Page</a>
    <a class="nav-link" href="/registerExample">Form Testing</a>
    <a class="nav-link" href="/lost">Forgot your username?</a>
    <a class="nav-link" href="/register">Register now</a>
    <a href="/login">Login</a>

</div>

<br>
<br>

<div class="container.fluid bg-dark">
    <p class="text-center text-light">&copy;2020 Eversource Farm. All Rights Reserved.</p>
</div>
</body>
</html>