<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          rel="stylesheet">
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <title>Welcome to Eversource Farm!</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-success  font-weight-bold ">
    <a class="navbar-brand" href="/">Eversource</a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
            data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto ">
            <li class="nav-item active">
                <a class="nav-link" href="/homepage">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown"
                   href="#" id="navbarDropdown" role="button">
                    Products </a>
                <div aria-labelledby="navbarDropdown" class="dropdown-menu">
                    <a class="dropdown-item" href="vegetable">Vegetables</a>
                    <a class="dropdown-item" href="#">Fruits</a>
                    <a class="dropdown-item" href="#">Eggs</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">More</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="./online_order">Online Order</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#">Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#">Contact</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-1">
            <!-- <button class="btn my-sm-0 alert-success" type="submit"><a href="./login">Login/Register</a></button>-->
        </form>
    </div>
</nav>

<br>
<br>
<div class="container">


    <form action="#" method="post" th:action="@{/register}" th:object="${userEntity}">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label>Username:</label>
                <input class="form-control" th:field="*{userName}" type="text"/><br/>
            </div>
            <div class="form-group col-md-4">
                <label>Password:</label>
                <input class="form-control" th:field="*{password}" type="text"/><br/>
            </div>
            <source media="(min-width: )" srcset="">
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label>First name:</label>
                <input class="form-control" th:field="*{firstName}" type="text"/><br/>
            </div>
            <div class="form-group col-md-4">
                <label>Last name:</label>
                <input class="form-control" th:field="*{lastName}" type="text"/><br/>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Email:</label>
                <input class="form-control" th:field="*{email}" type="text"/><br/>
            </div>
            <div class="form-group col-md-6">
                <label>Phone number:</label>
                <input class="form-control" th:field="*{phoneNumber}" type="text"/><br/>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Address:</label>
                <input class="form-control" th:field="*{address}" type="text"/><br/>
            </div>
            <div class="form-group col-md-2">
                <label>City:</label>
                <input class="form-control" th:field="*{city}" type="text"/><br/>
            </div>
            <div class="form-group col-md-2">
                <label>Postal Code:</label>
                <input class="form-control" th:field="*{postalCode}" type="text"/><br/>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
        <button class="btn " type="reset">Cancel</a></button>
    </form>
</div>

<br>

<div class="container.fluid bg-dark">
    <p class="text-center text-light">&copy;2020 Eversource Farm. All Rights Reserved.</p>
</div>
</body>
</html>