<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Registration Success</title>
    <style type="text/css">
        span {
            display: inline-block;
            width: 200px;
            text-align: left;
        }
    </style>
</head>
<body>
<div align="center">
    <h2>Registration Succeeded!</h2>
    <span>First Name:</span><span th:text="${customer.getFirst_name()}"></span><br/>
    <span>Last Name:</span><span th:text="${customer.getLast_name()}"></span><br/>
    <span>Username:</span><span th:text="${customer.getUsername()}"></span><br/>
    <span>Password:</span><span th:text="${customer.getPassword()}"></span><br/>
    <span>Password Confirmed:</span><span th:text="${customer.getPasswordConfirm()}"></span><br/>
    <span>Email:</span><span th:text="${customer.getEmail()}"></span><br/>
    <span>Phone number:</span><span th:text="${customer.getPhone_number()}"></span><br/>
    <span>Address:</span><span th:text="${customer.getAddress()}"></span><br/>
    <span>Postal Code:</span><span th:text="${customer.getPostal_code()}"></span><br/>
</div>
</body>
</html>