<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Eversource Farm</title>

    <!-- Google Font -->
    <link
            href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap"
            rel="stylesheet"
    />

    <!-- Css Styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

</head>
<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>
<!-- Header Section Begin -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="header__top__left">
                        <ul>
                            <li>Welcome to Eversource Farm Website</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8">

                    <div class="header__top__right">
                        <div th:if="${usernameExist} != null">
                            <div class="header__top__right__account">
                                <i class="fa fa-shopping-cart" th:text="${loggedIn}"></i>
                                <span class="arrow_carrot-down"></span>
                                <ul>
                                    <li><a href="/shoppingcart">Shopping Cart</a></li>
                                    <li><a href="/history">Purchase History</a></li>
                                    <li><a href="/account">Account</a></li>
                                </ul>
                            </div>
                            <div class="header__top__right__logout">
                                <a href="/logout"><i class="fa fa-sign-out"></i>Logout</a>
                            </div>
                        </div>
                        <div th:if="${usernameExist} == null">
                            <div class="header__top__right__login">
                                <a href="/login"><i class="fa fa-user"></i> Login</a>

                            </div>
                            <div class="header__top__right__signup">
                                <a href="/register"><i class="fa fa-sign-in"></i>
                                    Sign up</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="header__logo">
                    <a href="/"
                    ><img src="img/logo.png" alt="" height="50"
                    /></a>
                </div>
            </div>
            <div class="col-lg-8 col-md-8">
                <nav class="header__menu">
                    <ul>
                        <li><a href="/homepage">About us</a></li>
                        <li><a href="/product">Store</a></li>
                        <li><a href="/blog">Blog</a></li>
                        <li><a href="/event">Event</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- Header Section End -->


<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2><Bloge>The Blog</Bloge></h2></div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Blog Section Begin -->

<section class="from-blog-detail">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <p>

                    <h1>6 ways to prepare breakfast for 30</h1>

                    From homemade gravlax to indulgent huevos rancheros, The Kitchen's Rise and Shine episode was all about breakfast this morning, and while it's often called the most-important meal of the day, for better or worse, some days simply don't allow for a long, leisurely morning meal. But that doesn't mean you have to forgo breakfast altogether; the key is to look to ready-to-go dishes that are both quick to prepare and easy to pack. Read on below for wake-up-worthy inspiration from Alton Brown, The Pioneer Woman and more of your favorite chefs.
                    <br>
                    Ree Drummond keeps it classic in her Breakfast of Champions Sandwich, built on buttery English muffins and griddled with thinly sliced ham, gooey just-melted cheese and an egg. "Immediately wrap them in a foil bag to lock in the heat," Ree advises of packing up these sandwiches for on-the-go eating.
                    <br>
                    While leftover delivery pizza is often best eaten for breakfast the next day, there's a fresher option for pizza in the morning: English-Muffin Breakfast Pizza from Food Network Magazine. This single-serving recipe boasts an English muffin in place of a traditional crust, plus tomato and Canadian bacon toppings, and a blanket of mozzarella for added richness.
                    <br>
                    If you'd prefer to drink your breakfast instead, check out this Peach Pie Smoothie, a surprisingly healthy, hands-off recipe that's ready in a hurry. Let the blender do the work of whirling together the yogurt, a squeeze of honey, frozen peaches and fragrant spices for a smooth, refreshing smoothie.
                </p>
                 <img src="https://food.fnr.sndimg.com/content/dam/images/food/fullset/2015/2/10/0/fnd_portable-breakfasts.jpg.rend.hgtvcom.1280.960.suffix/1423583731628.jpeg">
                <p>


                    Breakfast in five minutes? Yes, please. It all comes down to layering in Tyler Florence's Yogurt-Berry Parfait, boasting a base of tangy yogurt, plus heaping handfuls of your favorite fruits and crunchy granola for welcome texture.
                    <br>
                    The beauty of Alton Brown's Blueberry Muffins is that they'll keep well in an airtight container for two to three days. Make a batch of these moist muffins on a Sunday, then grab a muffin on the way out the door on a hectic weekday morning.
                    <br>
                    Wrapped up tight with traditional burrito fixings like cool avocado, creamy cheddar cheese and Food Network Kitchen's homemade Pico de Gallo, these Breakfast Burritos get the morning treatment with a hearty filling of fluffy scrambled eggs and crispy hash browns. "All of the elements are snugly wrapped in a tortilla, keeping everything warmer longer when you're taking it to go," the chefs of Food Network Kitchen say.
                    <br>
                    Reference: https://www.foodnetwork.com/fn-dish/recipes/2015/02/dont-skip-it-pack-it-6-ways-to-take-your-breakfast-on-the-go
                </p>
            </div>
        </div>
    </div>
</section>
<!-- Blog Section End -->

<!-- Footer Section Begin -->
<footer class="footer spad">
    <div class="col-lg-12">
        <div class="footer__copyright">
            <div class="footer__copyright__text">
                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>
                        document.write(new Date().getFullYear());
                    </script>
                    Eversource Farm. All Rights Reserved.
                </p>
            </div>
            <div class="footer__copyright__payment">
                <img src="img/payment-item.png" alt="" />
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

<!-- Js Plugins -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>