<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Eversource Farm</title>

    <!-- Google Font -->
    <link
            href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap"
            rel="stylesheet"
    />

    <!-- Css Styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Pompiere&display=swap" rel="stylesheet">

</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>
<!-- Header Section Begin -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="header__top__left">
                        <ul>
                            <li>Welcome to Eversource Farm Website</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8">

                    <div class="header__top__right">
                        <div th:if="${usernameExist} != null">
                            <div class="header__top__right__account">
                                <i class="fa fa-shopping-cart" th:text="${loggedIn}"></i>
                                <span class="arrow_carrot-down"></span>
                                <ul>
                                    <li><a href="/shoppingcart">Shopping Cart</a></li>
                                    <li><a href="/history">Purchase History</a></li>
                                    <li><a href="/account">Account</a></li>
                                </ul>
                            </div>
                            <div class="header__top__right__logout">
                                <a href="/logout"><i class="fa fa-sign-out"></i>Logout</a>
                            </div>
                        </div>
                        <div th:if="${usernameExist} == null">
                            <div class="header__top__right__login">
                                <a href="/login"><i class="fa fa-user"></i> Login</a>

                            </div>
                            <div class="header__top__right__signup">
                                <a href="/register"><i class="fa fa-sign-in"></i>
                                    Sign up</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="header__logo">
                    <a href="/"
                    ><img src="img/logo.png" alt="" height="50"
                    /></a>
                </div>
            </div>
            <div class="col-lg-8 col-md-8">
                <nav class="header__menu">
                    <ul>
                        <li><a href="/homepage">About us</a></li>
                        <li><a href="/product">Store</a></li>
                        <li><a href="/blog">Blog</a></li>
                        <li><a href="/event">Event</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- Header Section End -->


<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2><Bloge>The Blog</Bloge></h2></div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Blog Section Begin -->

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="cover80">
                <h3 class ="center">How to Store Strawberries For Up To Two Weeks </h3>
                <br>
                <p class ="italic">
                    Freshly picked ... mixed in desserts ... blended a smoothie ... swirled in a cocktail ... there are so many delicious ways
                    to enjoy strawberries! But to keep them fresh and delicious, you need to store them properly. So how to store strawberries?
                    Lucky for you, we have the answer. However, the most important thing to remember is don't wash your strawberries unless
                    you're going to eat them right away. Otherwise they'll become mushy and moldy.
                </p>
                <img class ="commonblog" src="https://www.berries.com/blog/wp-content/uploads/2016/08/Strawberry-storage-vinegar-V4.jpg">

                <h5> Step 1  </h5>
                <p> Fill a measuring cup with 1/4 cup vinegar and 1 1/2 cup of water. You may need more vinegar/water depending on how many strawberries
                    you are planning to soak.
                </p>
                <img class ="commonblog" src="https://www.berries.com/blog/wp-content/uploads/2016/08/SB-Strawberry-Storage-Vinegar-01.jpg">

                <h5> Step 2 </h5>
                <p>Place the water/vinegar solution into a bowl or glass container. Let the berries soak for about five minutes.
                </p>
                <img class ="commonblog" src="https://www.berries.com/blog/wp-content/uploads/2016/08/SB-Strawberry-Storage-Vinegar-02.jpg">

                <h5> Step 3 </h5>
                <p>Place berries in a colander and rinse with water.
                </p>
                <img class ="commonblog" src="https://www.berries.com/blog/wp-content/uploads/2016/08/SB-Strawberry-Storage-Vinegar-03.jpg">

                <h5> Step 4 </h5>
                <p>
                    Place the strawberries on a paper towel and let them dry.</p>
                <img class ="commonblog" src="https://www.berries.com/blog/wp-content/uploads/2016/08/SB-Strawberry-Storage-Vinegar-04.jpg">

                <h5>  Step 5 </h5>
                <p> Line the container you plan to use for storage with a paper towel and place the strawberries inside. Make sure they are all dry.
                </p>
                <img class ="commonblog" src="https://www.berries.com/blog/wp-content/uploads/2016/08/SB-Strawberry-Storage-Vinegar-05.jpg">

                <br>
                references:
                <br>
                www.berries.com/blog/how-to-store-strawberries


            </div>
        </div>
    </div>
</div>

<!-- Blog Section End -->

<!-- Footer Section Begin -->
<footer class="footer spad">
    <div class="col-lg-12">
        <div class="footer__copyright">
            <div class="footer__copyright__text">
                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>
                        document.write(new Date().getFullYear());
                    </script>
                    Eversource Farm. All Rights Reserved.
                </p>
            </div>
            <div class="footer__copyright__payment">
                <img src="img/payment-item.png" alt="" />
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

<!-- Js Plugins -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.nice-select.min.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/jquery.slicknav.js"></script>
<script src="js/mixitup.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>
