<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Eversource Farm</title>

  <!-- Google Font -->
  <link
          href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap"
          rel="stylesheet"
  />

  <!-- Css Styles -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
  <div class="loader"></div>
</div>
<!-- Header Section Begin -->
<header class="header">
  <div class="header__top">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4">
          <div class="header__top__left">
            <ul>
              <li>Welcome to Eversource Farm Website</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-8 col-md-8">

          <div class="header__top__right">
            <div th:if="${usernameExist} != null">
              <div class="header__top__right__account">
                <i class="fa fa-shopping-cart" th:text="${loggedIn}"></i>
                <span class="arrow_carrot-down"></span>
                <ul>
                  <li><a href="/shoppingcart">Shopping Cart</a></li>
                  <li><a href="/history">Purchase History</a></li>
                  <li><a href="/account">Account</a></li>
                </ul>
              </div>
              <div class="header__top__right__logout">
                <a href="/logout"><i class="fa fa-sign-out"></i>Logout</a>
              </div>
            </div>
            <div th:if="${usernameExist} == null">
              <div class="header__top__right__login">
                <a href="/login"><i class="fa fa-user"></i> Login</a>

              </div>
              <div class="header__top__right__signup">
                <a href="/register"><i class="fa fa-sign-in"></i>
                  Sign up</a>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="header__logo">
          <a href="/"
          ><img src="img/logo.png" alt="" height="50"
          /></a>
        </div>
      </div>
      <div class="col-lg-8 col-md-8">
        <nav class="header__menu">
          <ul>
            <li><a href="/homepage">About us</a></li>
            <li><a href="/product">Store</a></li>
            <li class="active"><a href="/blog">Blog</a></li>
            <li><a href="/event">Event</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- Header Section End -->


<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="img/breadcrumb.jpg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="breadcrumb__text">
          <h2><Bloge>The Blog</Bloge></h2></div>
      </div>
    </div>
  </div>
</section>
<!-- Breadcrumb Section End -->

    <!-- Blog Section Begin -->
    <section class="from-blog spad">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="blog__item">
              <div class="blog__item__pic">
                <a href="/blog1" > <img src="img/blog/blog-1.jpg" alt="" /></a>
              </div>
              <div class="blog__item__text">
                <ul>
                  <li><i class="fa fa-calendar-o"></i> May 4,2020</li>
                  <li><i class="fa fa-comment-o"></i> 5</li>
                </ul>
                <h5><a href="/blog1">Cooking tips make cooking simple</a></h5>
                <p>
                  From learning to not rinse your pasta after draining, to using a garbage bowl,
                  you could start
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="blog__item">
              <div class="blog__item__pic">
                <a href="/blog2" ><img src="img/blog/blog-2.jpg" /> </a>
              </div>
              <div class="blog__item__text">
                <ul>
                  <li><i class="fa fa-calendar-o"></i> May 19,2020</li>
                  <li><i class="fa fa-comment-o"></i> 5</li>
                </ul>
                <h5><a href="/blog2">6 ways to prepare breakfast for 30</a></h5>
                <p>
                  From learning to not rinse your pasta after draining, to using a garbage bowl,
                  you could start
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="blog__item">
              <div class="blog__item__pic">
                <a href="/blog3" > <img src="img/blog/blog-3.jpg" alt="" /></a>
              </div>
              <div class="blog__item__text">
                <ul>
                  <li><i class="fa fa-calendar-o"></i> June 4,2020</li>
                  <li><i class="fa fa-comment-o"></i> 5</li>
                </ul>
                <h5><a href="/blog3">How to Store Fresh Orange Slices</a></h5>
                <p>
                  Orange slices only remain fresh for a few hours after peeling,
                  so enjoy oranges soon after removing the
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="from-blog spad">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="blog__item">
              <div class="blog__item__pic">
                <a href="/blog4" > <img src="img/blog/blog-4.jpg" alt="" /></a>
              </div>
              <div class="blog__item__text">
                <ul>
                  <li><i class="fa fa-calendar-o"></i> June 19,2020</li>
                  <li><i class="fa fa-comment-o"></i> 5</li>
                </ul>
                <h5><a href="/blog4">10 Tips for Keeping Produce Fresher Longer</a></h5>
                <p>
                  From learning to not rinse your pasta after draining, to using a garbage bowl,
                  you could start
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="blog__item">
              <div class="blog__item__pic">
                <a href="/blog5" > <img src="img/blog/blog-5.jpg" alt="" /></a>
              </div>
              <div class="blog__item__text">
                <ul>
                  <li><i class="fa fa-calendar-o"></i> July 4,2020</li>
                  <li><i class="fa fa-comment-o"></i> 5</li>
                </ul>
                <h5><a href="blog5.html">How to Store Strawberries For Up To Two Weeks  </a></h5>
                <p>
                  Ethylene gas is produced normally by fruits and vegetables as they ripen but when too much is produced such as
                  when they are exposed
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="blog__item">
              <div class="blog__item__pic">
                <a href="/blog6" > <img src="img/blog/blog-6.jpg" alt="" /></a>
              </div>
              <div class="blog__item__text">
                <ul>
                  <li><i class="fa fa-calendar-o"></i> July 19,2020</li>
                  <li><i class="fa fa-comment-o"></i> 14</li>
                </ul>
                <h5><a href="blog6.html">What To Make For Dinner If You Only Have 10 Minutes</a></h5>
                <p>
                  We all have high hopes for what our regular weeknight dinners will look like, but when
                  it comes to the actual execution
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Blog Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer spad">
      <div class="col-lg-12">
        <div class="footer__copyright">
          <div class="footer__copyright__text">
            <p>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;
              <script>
                document.write(new Date().getFullYear());
              </script>
              Eversource Farm. All Rights Reserved.
            </p>
          </div>
          <div class="footer__copyright__payment">
            <img src="img/payment-item.png" alt="" />
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
