<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Eversource Farm</title>

  <!-- Google Font -->
  <link
          href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap"
          rel="stylesheet"
  />

  <!-- Css Styles -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
  <div class="loader"></div>
</div>
<!-- Header Section Begin -->
<header class="header">
  <div class="header__top">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4">
          <div class="header__top__left">
            <ul>
              <li>Welcome to Eversource Farm Website</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-8 col-md-8">

          <div class="header__top__right">

            <div th:if="${usernameExist} != null">
              <div class="header__top__right__account">
                <i class="fa fa-shopping-cart" th:text="${loggedIn}"></i>
                <span class="arrow_carrot-down"></span>
                <ul>
                  <li><a href="/shoppingcart">Shopping Cart</a></li>
                  <li><a href="/history">Purchase History</a></li>
                  <li><a href="/account">Account</a></li>
                </ul>
              </div>
              <div class="header__top__right__logout">
                <a href="/logout"><i class="fa fa-sign-out"></i>Logout</a>
              </div>
            </div>
            <div th:if="${usernameExist} == null">
              <div class="header__top__right__login">
                <a href="/login"><i class="fa fa-user"></i> Login</a>

              </div>
              <div class="header__top__right__signup">
                <a href="/register"><i class="fa fa-sign-in"></i>
                  Sign up</a>

              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="header__logo">
          <a href="/"
          ><img src="img/logo.png" alt="" height="50"
          /></a>
        </div>
      </div>
      <div class="col-lg-8 col-md-8">
        <nav class="header__menu">
          <ul>
            <li><a href="/homepage">About us</a></li>
            <li><a href="/product">Store</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/event">Event</a></li>
            <li class="active"><a href="/contact">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- Header Section End -->


<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="img/greenhouse.jpg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="breadcrumb__text">
          <h2>Contact Us</h2></div>
      </div>
    </div>
  </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Map Section Begin -->
    <section class="checkout spad">
      <div class="container">
        <div class="checkout__form">
          <h4>Address</h4>
          <hr>
          <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8 col-md-6">
              <div class="row">
                <div class="col-lg-6">
                  <div class="checkout__input">
                    Range Rd 292, Carstairs, AB T0M, CANADA <br />

                    G2P8+72 Carstairs, Alberta <br />

                    Tel: +14034528958 <br />
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="checkout__input">
                    <iframe
                      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1240.8601819119503!2d-113.9861619!3d51.5366886!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5373fb71b0c30f93%3A0xd69994b939a20244!2sEverSource%20Farm!5e0!3m2!1sen!2sca!4v1594001265299!5m2!1sen!2sca"
                      width="600"
                      height="450"
                      frameborder="0"
                      style="border: 0;"
                      allowfullscreen=""
                      aria-hidden="false"
                      tabindex="0"
                    ></iframe>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Map Section End -->
    <!-- Contact Section Begin -->
    <section class="checkout spad">
      <div class="container">
        <div class="checkout__form">
          <h4>Contact Us</h4>
          <hr>
          <form
            action="#"
            method="post"
            th:action="@{/contact}"
            th:object="${usersEntity}"
          >
            <div class="row">
              <div class="col-lg-2"></div>
              <div class="col-lg-8 col-md-6">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="checkout__input">
                      <p>Fist Name<span>*</span></p>
                      <input class="form-control"  type="text" th:field="*{fname}" required/>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="checkout__input">
                      <p>Last Name<span>*</span></p>
                      <input class="form-control"  type="text" th:field="*{lname}" required/>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-6">
                    <div class="checkout__input">
                      <p>Phone<span>*</span></p>
                      <input class="form-control"  th:type="number" min="0" maxlength="11" required placeholder="11 Digits with no hyphen" th:field="*{phone}"/>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="checkout__input">
                      <p>Email<span>*</span></p>
                      <input class="form-control"  type="email" required th:field="*{email}" />
                    </div>
                  </div>
                </div>
                <div class="checkout__input">
                  <p>Content<span>*</span></p>
                  <input type="text" placeholder="Please enter the content"  class="form-control" name="content"  required/>
                </div>
                <br>
                <div class="text-right">
                  <button type="submit" class="login-btn">Submit</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
    <!-- Contact Section End -->

<!-- Test for Error Page July 25 -->
<div >
  <a href="/error404" class="primary-btn"
     style=" align-content: center;
     font-size: 14px;
        color: #ffffff;
        font-weight: 800;
        text-transform: uppercase;
        display: inline-block;
        padding: 13px 30px 12px;
        background: #7fad39;
        border: none;"
  > Error Page </a>

</div>
<!-- /Test for Error Page -->


    <!-- Footer Section Begin -->
    <footer class="footer spad">
      <div class="col-lg-12">
        <div class="footer__copyright">
          <div class="footer__copyright__text"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> Eversource Farm. All Rights Reserved.
          </p></div>
          <div class="footer__copyright__payment"><img src="img/payment-item.png" alt=""></div>
        </div>
      </div>


    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>

  </body>
</html>
