<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:c="http://www.w3.org/1999/XSL/Transform">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Eversource Farm</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>
<!-- Header Section Begin -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="header__top__left">
                        <ul>
                            <li>Free Delivery for all Order of $99</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8">

                    <c:if test="${username!=null}">
                        <div class="header__top__right__account">
                            <i class="fa fa-shopping-cart" th:text="${loggedIn}"></i>
                            <span class="arrow_carrot-down"></span>
                            <ul>
                                <li><a href="/history">Purchase History</a></li>
                                <li><a href="/shoppingcart">Shoping Cart</a></li>
                                <li><a href="/account">Account</a></li>
                            </ul>
                        </div>


                        <div class="header__top__right__logout">
                            <a href="/logout"><i class="fa fa-sign-out"></i>Logout</a>

                        </div>
                    </c:if>

                    <c:if test="${username==null}">
                    <div class="header__top__right">

                        <div class="header__top__right__login">
                            <a href="/login"><i class="fa fa-user"></i> Login</a>

                        </div>
                        <div class="header__top__right__signup">
                            <a href="/register"><i class="fa fa-sign-in"></i>
                                Sign up</a>

                        </div>
                    </c:if>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="header__logo">
                    <a href="./index.html"
                    ><img src="img/logo.png" alt="" height="50"
                    /></a>
                </div>
            </div>
            <div class="col-lg-8 col-md-8">
                <nav class="header__menu">
                    <ul>
                        <li><a href="/homepage">About us</a></li>
                        <li><a href="/product">Store</a></li>
                        <li><a href="/blog">Blog</a></li>
                        <li><a href="/event">Event</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- Header Section End -->
<!-- Header Section End -->

<!-- Login Section Begin -->
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Event</h2></div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Event Section Begin -->
<section class="event spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3"></div>
            <div class="col-lg-9 col-md-9">
                <div class="row">
                    <div class="col-lg-9 col-md-9 col-sm-9">
                        <div class="event__item">
                            <div class="event__item__pic">
                                <img src="img/event.jpg" alt="">
                            </div>
                            <div class="event__item__text">
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> August 20,2020 ~ August 30, 2020 </li>

                                </ul>
                                <h5><a href="#">Summer Sale Event</a></h5>
                                <p>20% off all products</p>
                                <a href="#" class="event__btn">READ MORE <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>
<!-- Event Section End -->

<!-- Adding ThymeLeaf code -->

<section class="event spad">
   <table>
       <div class="container">
           <div class="col-lg-4 col-md-6 col-sm-6">
               <div class="row">

                       <div class="event__item">
                           <tr th:each="event : *{eventEntityList}">  <!-- eventsEntityList -->
                               <td><span th:text="${event.event}"></span></td> <!-- event.event -->
                               <td><img height="150" th:src="${event.image}" width="200"></td> <!--event.image-->
                               <td><span class="event__item__text" th:text="${event.description}"> </span></td> <!--event.description-->
                               <td> <form action="#" th:action="@{/event.eid}" method="GET"> <!--eid-->
                                   <input type="hidden" th:value="${event.eid}" name="eventID"> <!-- eid -->
                                   <!--<button class="event__btn"  id="register">Register</button>-->
                                   <script>

                                   </script>
                                   <input type="submit" value="Register">

                               </form> </td>
                           </tr>

                       </div>
                   </div>
           </div>

       </div>
   </table>
</section>
<!-- /Adding ThymeLeaf code -->


<!-- Footer Section Begin -->
<footer class="footer spad">
    <div class="col-lg-12">
        <div class="footer__copyright">
            <div class="footer__copyright__text"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<script>document.write(new Date().getFullYear());</script> Eversource Farm. All Rights Reserved.
            </p></div>
            <div class="footer__copyright__payment"><img src="img/payment-item.png" alt=""></div>
        </div>
    </div>


</footer>
<!-- Footer Section End -->

<!-- Js Plugins -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>



</body>

</html>