<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Eversource Farm</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>
<!-- Header Section Begin -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="header__top__left">
                        <ul>
                            <li>Free Delivery for all Order of $99</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8">

                    <div class="header__top__right">
                        <div class="header__top__right__account">
                            <i class="fa fa-shopping-cart"></i> Hello <th:field="*{userName}></th:field>
                            <span class="arrow_carrot-down"></span>
                            <ul>
                                <li><a href="history.html">Purchase History</a></li>
                                <li><a href="shop-cart.html">Shoping Cart</a></li>
                                <li><a href="account.html">Account</a></li>
                            </ul>
                        </div>


                        <div class="header__top__right__logout">
                            <a href="index.html"><i class="fa fa-sign-out"></i>Logout</a>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="header__logo">
                    <a href="index.html"><img src="img/logo.png" alt="" height="50"  ></a>
                </div>
            </div>
            <div class="col-lg-8 col-md-8">
                <nav class="header__menu" >
                    <ul>
                        <li><a href="/homepage">About us</a></li>
                        <li><a href="/product">Store</a></li>
                        <li><a href="/blog">Blog</a></li>
                        <li><a href="/event">Event</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </nav>
            </div>

        </div>
    </div>
</header>
<!-- Header Section End -->

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Purchase History</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Shoping Cart Section Begin -->
<section class="shoping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-6">
                <div class="shoping__cart__table">
                    <form action="#" method="post" th:action="@{/cart}" th:object="${}">
                        <table>
                            <thead>
                            <tr>
                                <th class="shoping__product">Products</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody >
                            <tr>
                                <td class="shoping__cart__item" readonly>
                                    <a href="shop-details.html"> <img src="img/tomato.png" alt="">
                                        <h5>tomatoes</h5></a>
                                </td>
                                <td class="shoping__cart__price" readonly>
                                    $10.00
                                </td>
                                <td class="shoping__cart__quantity" readonly>
                                    <div class="quantity">
                                        <div class="pro-qty">
                                            <input type="number" value="1">
                                        </div>
                                    </div>
                                </td>
                                <td class="shoping__cart__total" readonly>
                                    $10.00
                                </td>
                            </tr>
                            <tr>
                                <td class="shoping__cart__item" readonly>
                                    <img src="img/peppers.png" alt="">
                                    <h5>Peppers</h5>
                                </td>
                                <td class="shoping__cart__price" readonly>
                                    $10.00
                                </td>
                                <td class="shoping__cart__quantity" readonly>
                                    <div class="quantity">
                                        <div class="pro-qty">
                                            <input type="text" value="2">
                                        </div>
                                    </div>
                                </td>
                                <td class="shoping__cart__total" readonly>
                                    $20.00
                                </td>
                            </tr>
                            </tbody>

                        </table>
                    </form>

                </div>
            </div>
            </form>
            <div class="col-lg-4 col-md-6">
                <div class="checkout__order">
                    <h4>Your Order  June 22, 2020</h4>

                    <div class="checkout__order__products">Products <span>Total</span></div>
                    <ul>
                        <li>Tomatoes <span>$10.00</span></li>
                        <li>Peppers <span>$20.00</span></li>
                    </ul>
                    <div class="checkout__order__subtotal">Subtotal <span>$30.00</span></div>
                    <ul>
                        <li>Gst 5% <span>$1.50</span></li>
                    </ul>
                    <div class="checkout__order__total">Total <span>$31.50</span></div>
                </div>
            </div>

        </div></div>

</section>
<!-- Shoping Cart Section End -->

<!-- Footer Section Begin -->
<footer class="footer spad">
    <div class="col-lg-12">
        <div class="footer__copyright">
            <div class="footer__copyright__text"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<script>document.write(new Date().getFullYear());</script> Eversource Farm. All Rights Reserved.
            </p></div>
            <div class="footer__copyright__payment"><img src="img/payment-item.png" alt=""></div>
        </div>
    </div>


</footer>
<!-- Footer Section End -->

<!-- Js Plugins -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>



</body>

</html>