<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Eversource Farm</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>
<!-- Header Section Begin -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="header__top__left">
                        <ul>
                            <li>Welcome to Eversource Farm Website</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8">

                    <div class="header__top__right">
                        <div th:if="${usernameExist} != null">
                            <div class="header__top__right__account">
                                <i class="fa fa-shopping-cart" th:text="${loggedIn}"></i>
                                <span class="arrow_carrot-down"></span>
                                <ul>
                                    <li><a href="/shoppingcart">Shopping Cart</a></li>
                                    <li><a href="/history">Purchase History</a></li>
                                    <li><a href="/account">Account</a></li>
                                </ul>
                            </div>
                            <div class="header__top__right__logout">
                                <a href="/logout"><i class="fa fa-sign-out"></i>Logout</a>
                            </div>
                        </div>
                        <div th:if="${usernameExist} == null">
                            <div class="header__top__right__login">
                                <a href="/login"><i class="fa fa-user"></i> Login</a>

                            </div>
                            <div class="header__top__right__signup">
                                <a href="/register"><i class="fa fa-sign-in"></i>
                                    Sign up</a>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="header__logo">
                    <a href="/"><img src="img/logo.png" alt="" height="50"  ></a>
                </div>
            </div>
            <div class="col-lg-8 col-md-8">
                <nav class="header__menu" >
                    <ul>
                        <li><a href="/homepage">About us</a></li>
                        <li><a href="/product">Store</a></li>
                        <li><a href="/blog">Blog</a></li>
                        <li><a href="/event">Event</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </nav>
            </div>

        </div>
    </div>
</header>
<!-- Header Section End -->

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Shopping cart</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Shoping Cart Section Begin -->
<h2 class="text-md-center" th:text="${message}"></h2>
<section class="shoping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-6">
                <div class="shoping__cart__table">

                    <table>
                        <thead>
                        <tr>
                            <th class="shoping__product">Products</th>
                            <th>Unit</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr th:each="order : *{orderArrayList}" th:class="'table'+${order.oid}">
                            <td class="shoping__cart__item">
                                <a th:href="'/productDetail?productName='+${order.getPname()}">
                                    <img height="100" th:src="${order.image}" width="100" th:alt="${order.pname}">
                                    <h5 th:text="${order.pname}"></h5>
                                </a>
                            </td>
                            <td class="shoping__cart__unit" th:text="${order.unit}"></td>

                            <td class="shoping__cart__price" th:text="'$'+${order.price}">
                            </td>
                            <!--                            <form method="post" th:action="@{/cart}" th:id="'form'+${order.oid}">-->
                            <td class="shoping__cart__quantity">
                                <div class="quantity">
                                    <div class="pro-qty">
                                        <label>
                                            <!-- *****  -->
                                            <input type="number" min="0" th:value="${order.quantity}" name="amount"
                                                   th:onchange="'updateCart('+${order.price}+','+${order.oid}+')'"
                                                   th:class="'number'+${order.oid}">
                                            <input type="hidden" name="oid" th:value="${order.oid}">

                                        </label>
                                    </div>
                                </div>
                            </td>


                            <td class="shoping__cart__total">
                                <input type="text" th:value="'$'+${#numbers.formatDecimal(order.price*order.quantity,1,2)}" disabled
                                       style="width: 4.05em">
                            </td>
                            <!--                            </form>-->
                        </tr>

                        </tbody>

                    </table>


                </div>
            </div>

            <!-- *** update with AJAX *** -->
            <script>
                function updateCart(price,oid) {
                    var amount = $(".number"+oid).val();
                    if(amount===0||amount==="0"){
                        $(".table"+oid).html("");
                        $(".2table"+oid).html("");
                    }
                    var  dataObj=$.ajax({url:"/cartEdit?oid="+oid+"&amount="+amount,async:false,method:"post"});
                    if(dataObj.responseJSON!==undefined){
                        if(dataObj.responseJSON.code!==200){
                            alert(dataObj.responseJSON.msg);
                            $(".number"+oid).val(dataObj.responseJSON.max);
                            updateCart(price,oid)
                            return ;
                        }
                    }
                    console.log(dataObj)
                    var productTotalPrice=amount* price;
                    $(".table"+oid+" .shoping__cart__total input").val("$"+productTotalPrice.toFixed(2));
                    $(".2table"+oid+" input").val("$"+productTotalPrice.toFixed(2));

                    var checkOrderObj=$(".checkout__order table input");
                    var Subtotal=0.0;
                    for(var i=0;i<checkOrderObj.length;i++){
                        Subtotal+=parseFloat(checkOrderObj[i].value.replace("$",""));
                    }
                    $(".checkout__order__subtotal span").html("$"+Subtotal.toFixed(2))
                    var gst= Subtotal.toFixed(2)/100*5;
                    $(".gst").html("$"+gst.toFixed(2));
                    $(".checkout__order__total span").html((gst+Subtotal).toFixed(2));

                }
            </script>

            <div class="col-lg-3 col-md-3">
                <div class="checkout__order">

                    <h4>Your Order</h4>

                    <div class="checkout__order__products">Products <span>Total</span></div>

                    <table>
                        <tr class="checkout__order__products__row"
                            th:each="order: *{orderArrayList}" th:class="'2table'+${order.oid}">
                            <td th:text="${order.pname}"></td>

                            <td>&nbsp;&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;&nbsp;</td>


                            <span><td>
                                 <input type="text"
                                        th:value="'$'+${#numbers.formatDecimal(order.price*order.quantity,1,2)}"
                                        disabled
                                        style="width: 4.20em">
                            </td></span>
                        </tr>


                    </table>
                    <!--                    <ul>-->

                    <!--                        <li th:each="order: *{orderArrayList}">-->
                    <!--                            <p th:text="${order.pname}"></p>-->
                    <!--                                <span style="width: 100px" th:text="${order.price}"></span>-->
                    <!--                        </li>-->

                    <!--                    </ul>-->

                    <div class="checkout__order__subtotal">Subtotal <span th:text="${total}"></span></div>
                    <ul>
                        <li>Gst 5% <span th:text="${gst}" class="gst"> </span></li>
                    </ul>
                    <div class="checkout__order__total">Total <span th:text="${finalTotal}"></span></div>
                    <div class="checkout__input__checkbox">
                        <label for="payment">
                            Check Payment
                            <input type="checkbox" id="payment">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <form th:action="@{/pay}" method="POST"><input type="submit" class="site-btn" value="PLACE ORDER"/></form>


                </div>
            </div>
            <br>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__btns">
                    <a href="/product" class="primary-btn cart-btn">CONTINUE SHOPPING</a>

                </div>
            </div>
        </div>
    </div>

</section>
<!-- Shoping Cart Section End -->

<!-- Footer Section Begin -->
<footer class="footer spad">
    <div class="col-lg-12">
        <div class="footer__copyright">
            <div class="footer__copyright__text"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<script>document.write(new Date().getFullYear());</script> Eversource Farm. All Rights Reserved.
            </p></div>
            <div class="footer__copyright__payment"><img src="img/payment-item.png" alt=""></div>
        </div>
    </div>


</footer>
<!-- Footer Section End -->

<!-- Js Plugins -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>



</body>

</html>