<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Eversource Farm</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>
<!-- Header Section Begin -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="header__top__left">
                        <ul>
                            <li>Free Delivery for all Order of $99</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8">

                    <div class="header__top__right">

                        <div class="header__top__right__login">
                            <a href="login.html"><i class="fa fa-user"></i> Login</a>

                        </div>
                        <div class="header__top__right__signup">
                            <a href="register.html"><i class="fa fa-sign-in"></i>
                                Sign up</a>

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="header__logo">
                    <a href="./index.html"><img src="img/logo.png" alt="" height="50"  ></a>
                </div>
            </div>
            <div class="col-lg-8 col-md-8">
                <nav class="header__menu" >
                    <ul>
                        <li><a href="./index.html">Home</a></li>
                        <li class="active"><a href="./shop-grid.html">Store</a></li>
                        <li><a href="./blog.html">Blog</a></li>
                        <li><a href="./blog.html">Event</a></li>
                        <li><a href="./contact.html">Contact</a></li>
                    </ul>
                </nav>
            </div>

        </div>
    </div>
</header>
<!-- Header Section End -->

<body>
<br>
<br>
<div class="container">
    <h1>Discover our amazing vegetables...</h1>
    <br>
</div>

<div class="container">
    <form action="#" method="post" th:action="@{/vegetable}" th:object="${productEntity}">
        <table>
            <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="productEntity, itemStat : ${products}">
                <td>
                    <!-- <img class="card-img-top" th:src="@{productEntity.getProduct_image_address}"> -->
                    <img width="200" height="200"
                         src="https://images.unsplash.com/photo-1494548162494-384bba4ab999?ixlib=rb-1.2.1&w=1000&q=80">
                </td>
                <td>
                    <label th:value="*{productEntity.productName}"></label>
                </td>
                <td>
                    <input hidden th:name="|products[${itemStat.index}].getProduct_id()|"
                           th:value="${productEntity.getProduct_id()}"/>
                    <input type="number"
                           th:field="*{productEntity}"/>
                    <input id="submitButton" th:value="Save" type="submit">
                    <input id="resetButton" name="reset" th:value="Reset" type="reset"/>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img alt="..." class="card-img-top" src="img/vegetable.jpg">
                <div class="card-body">
                    <h5 class="card-title">Tomato</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a class="btn btn-primary" href="./online_order">Order now</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img alt="..." class="card-img-top" src="img/vegetable.jpg">
                <div class="card-body">
                    <h5 class="card-title">Tomato</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a class="btn btn-primary" href="./online_order">Order now</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img alt="..." class="card-img-top" src="img/vegetable.jpg">
                <div class="card-body">
                    <h5 class="card-title">Tomato</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a class="btn btn-primary" href="./online_order">Order now</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img alt="..." class="card-img-top" src="img/vegetable.jpg">
                <div class="card-body">
                    <h5 class="card-title">Tomato</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a class="btn btn-primary" href="./online_order">Order now</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img alt="..." class="card-img-top" src="img/vegetable.jpg">
                <div class="card-body">
                    <h5 class="card-title">Tomato</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a class="btn btn-primary" href="./online_order">Order now</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img alt="..." class="card-img-top" src="img/vegetable.jpg">
                <div class="card-body">
                    <h5 class="card-title">Tomato</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a class="btn btn-primary" href="./online_order">Order now</a>
                </div>
            </div>
        </div>
    </div>
</div>


<br>


<!-- Footer Section Begin -->
<footer class="footer spad">
    <div class="col-lg-12">
        <div class="footer__copyright">
            <div class="footer__copyright__text"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<script>document.write(new Date().getFullYear());</script> Eversource Farm. All Rights Reserved.
            </p></div>
            <div class="footer__copyright__payment"><img src="img/payment-item.png" alt=""></div>
        </div>
    </div>


</footer>
<!-- Footer Section End -->

<!-- Js Plugins -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>

</body>
</html>